{% extends "twit/base.html" %}




{% block timeLine %}
<div class="container">
      {% for twit in object_list %}
        <div class="card my-3 bg-dark text-white">
          <div class="card-body">
            <div class="profile mb-2">
              <img src="{{ user.profile_photo.url }}" style="height: 50px; width: 50px;" class="rounded-circle" alt="...">
              <h3 class="d-inline mx-3">
                {% if user.get_full_name %}
                  {{ user.get_full_name }}
                {% else %}
                  {{ user.username }}
                {% endif %}
              </h3>
            </div>
            <p class="card-text">{{ twit.twit }}</p>
          </div>
          {% if twit.img %}
          <div class="card p-4 border border-dark m-4 border-3 rounded-3" style="height: 50vh; overflow: auto;">
            <img class="card-img-below img-fluid center" style="display: block;" src="{{ twit.img.url }}">
          </div>
          {% endif %}
        </div>
      {% endfor %}
</div>
{% endblock %}