{% extends "twit/base.html" %}
{% load base_tags %}


{% block user_info %}
<div class="profile container my-font my-4 mb-2">
  <img src="{{ user.profile_photo.url }}" class="profile-photo">
  <h3 class="d-inline mx-3 my-font">
    {% if user.get_full_name %}
    <a href="{% url 'account:profile' user.username %}" style="text-decoration:none;">{{ user.get_full_name }}</a>
    {% else %}
    <a href="{% url 'account:profile' user.username %}" style="text-decoration:none;">{{ user.username }}</a>
    {% endif %}
  </h3>
  <span class="float-start"><a href="{% url 'account:logout' %}" style="text-decoration: none; font-weight: bold;" class="text-danger">خروج<i class="fas fa-sign-out-alt fa-lg m-2 text-danger"></i></a></span>
</div>
{% endblock %}

{% block twit_bar %}
  {% twit_bar %}
{% endblock %}


{% block timeLine %}
<div class="container my-font">
      {% for twit in object_list %}
        <div class="card my-3 bg-dark text-white border border-3 border-dark">
          <div class="card-body">
            <div class="profile mb-2">
              <img src="{{ twit.author.profile_photo.url }}" style="height: 50px; width: 50px;" class="rounded-circle" alt="...">
              <a href="{% url 'account:profile' twit.author.username %}" style="text-decoration:none;"><h3 class="d-inline mx-3">
                {% if twit.author.get_full_name %}
                  {{ twit.author.get_full_name }}
                {% else %}
                  {{ twit.author.username }}
                {% endif %}
              </h3></a>
            </div>
            <p class="card-text">{{ twit.twit }}</p>
          </div>
          {% if twit.img %}
          <div class="card p-4 border border-dark m-4 border-3 rounded-3" style="height: 50vh; overflow: auto;">
            <img class="card-img-below img-fluid center" style="display: block;" src="{{ twit.img.url }}">
          </div>
          {% endif %}
          <span class="d-flex justify-content-around">
            <a href="{% url 'twits:TwitDetail' twit.pk %}"><i class="far fa-comment"></i></a>
            <i class="fas fa-retweet text-primary"></i>
            {% like request twit.like_count twit.pk request.resolver_match.url_name request.resolver_match.app_names.0 %}
          </span>
        </div>
      {% endfor %}
</div>
{% endblock %}