{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block main %}


      {% if form.non_field_errors %}
        <div class="errors container">
          {% for error in form.non_field_errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2>ورود </h2>
          <h2><a href="{% url 'account:register' %}">ثبت نام</a></h2>

          <!-- Icon -->
          <div class="fadeIn first">
            <img src="{% static 'registration/assest/login-icon.png' %}" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
          <form method="POST">
            {% csrf_token %}
            {{ form.username|attr:"placeholder:نام کاربری" }}
            {% if form.username.errors %}
              <div class="errors">
                {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
            {{ form.password|attr:"placeholder:رمز عبور" }}
            {% if form.password.errors %}
              <div class="errors">
                {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
            <input type="submit" class="fadeIn fourth" value="ورود">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="{% url 'account:password_reset' %}">آیار رمز عبور خود را فراموش کرده اید؟</a>
          </div>

    	</div>
    </div>
{% endblock %}