{% extends 'registration/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block main %}
<div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h1>تغییر پسورد</h1>

          <!-- Icon -->
          <div class="fadeIn first">
            <img src="{% static 'registration/assest/login-icon.png' %}" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="fadeIn fourth" value="ارسال">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="{% url 'account:login' %}">ورود به حساب کاربری</a>
          </div>

		</div>
</div>
{% endblock %}