{% extends 'registration/base_profile.html' %}
{% load static %}
{% load base_tags %}


{% block user_info %}
<div class="container profile my-font mb-2 p-4">
		<img src="{{ author.profile_photo.url }}" style="width: 70px; height: 70px;" alt="..." class="profile-photo">
		<h3 class="d-inline mx-3 my-font">
			{% if author.get_full_name %}
			{{ author.get_full_name }}
			{% else %}
			{{ author.username }}
			{% endif %}
		</h3>
		<span class="float-start"><a href="{% url 'account:logout' %}" style="text-decoration: none; font-weight: bold;" class="text-danger">خروج<i class="fas fa-sign-out-alt fa-lg m-2 text-danger"></i></a></span>
    <span class="float-start"><a href="{% url 'twits:TimeLine' %}" style="text-decoration: none; font-weight: bold;" class="">خانه<i class="fas fa-home fa-lg m-2"></i></a></span>
    <div class="info p-2">
		<div class="info p-2">
			{% if author.bio %}
				<p>
					{{ author.bio|linebreaks }}	
				</p>
			{% endif %}
		</div>
</div>
{% endblock %}

{% block follow_block %}
  {% following request request.resolver_match.url_name  request.resolver_match.app_names.0 author.username  %}
{% endblock %}



{% block main %}
<div class="container my-font">
      {% for twit in object_list %}
        <div class="card my-3 bg-dark text-white border border-3 border-white">
          <div class="card-body">
            <div class="profile mb-2">
              <img src="{{ twit.author.profile_photo.url }}" style="height: 50px; width: 50px;" class="rounded-circle" alt="...">
              <h3 class="d-inline mx-3">
                {% if twit.author.get_full_name %}
                  {{ twit.author.get_full_name }}
                {% else %}
                  {{ twit.author.username }}
                {% endif %}
              </h3>
            </div>
            <p class="card-text">{{ twit.twit }}</p>
          </div>
          {% if twit.img %}
          <div class="card p-4 border border-dark m-4 border-3 rounded-3" style="height: 50vh; overflow: auto;">
            <img class="card-img-below img-fluid center" style="display: block;" src="{{ twit.img.url }}">
          </div>
          {% endif %}
          <span class="d-flex justify-content-around">
            <a href="{% url 'twits:TwitDetail' twit.pk %}"><i class="far fa-comment"></i></a>
            <!-- retweet section -->

            {% retweet request twit.retweet_count twit.pk request.resolver_match.url_name request.resolver_match.app_names.0 %}

            <!-- like section -->

            {% like request twit.like_count twit.pk request.resolver_match.url_name request.resolver_match.app_names.0 %}
          

          </span>
        </div>
      {% endfor %}
</div>
{% endblock %}